

.equalheight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
}

.remove-icon{
display:none
}
.hover-board:hover .remove-icon {
	display: block;
}
.remove-icon .pficon{
    cursor: pointer;
}

